header,
div.card {
  background: rgb(20, 100, 124);
}

svg.logo {
  transform: rotate(45deg);
}

header,
button.navbar-toggler,
button.navbar-toggler:focus,
section#engagement,
div.card {
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.57);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.57);
}


/*SECTION ENGAGEMENT*/
div.carousel-caption {
  background-color: rgba(255, 255, 255, 0.712);
  border-radius: 20px;
}

a.header-carousel {
  color: rgb(20, 100, 124);
  transition: 0.5s;
}

a.header-carousel:hover {
  color: black;
  transition: 0.5s;
}

/*SECTION DOYEN*/

div.card:hover{
  transform: scale(1.1);
  transition: 0.5s;
}

div.card:hover a {
  transform: rotate(0);
  animation: shake 0.5s 1;
  animation-delay: 0.4s;
}

/*FOOTER*/
a.link-footer {
  color: rgb(20, 100, 124);
}

@media (max-width: 991px) {
  #brand-index {
    text-align: center;
    line-height: 1;
    margin-bottom: 20px;
  }

  a.nav-link {
    font-size: 1.3em;
  }
}

@media (min-width: 992px) {
  #brand-index {
    zoom: 0.7;
    margin-bottom: 7px;
    text-align: start;
  }

  svg#logoHeader {
      width: 50px;
    }

  svg#logoHeader,
  a.nav-link {
    zoom: 1.1;
  }
}

@media (min-width: 1200px) {
  li.support-us-list {
    font-size: 1.3em;
  }
}

@keyframes shake {
  0% {
    transform: rotate(3deg) scale(1);
  }
  20% {
    transform: rotate(-3deg) scale(1);
  }
  40% {
    transform: rotate(3deg) scale(1);
  }
  60% {
    transform: rotate(-3deg) scale(1);
  }
  80% {
    transform: rotate(3deg) scale(1);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}